{
  "root": true,
  "extends": [
    "@nuxt/eslint-config"
  ],
  "plugins": [
    "@stylistic/eslint-plugin"
  ],
  "rules": {
    "indent": ["error", 2, {
      "ignoredNodes": ["TemplateLiteral"]
    }],
    "semi": ["error", "never"],
    "object-curly-spacing": ["error", "always"],
    "@stylistic/comma-dangle": ["error", {
      "arrays": "always-multiline",
      "objects": "always-multiline",
      "imports": "never",
      "exports": "never",
      "functions": "never",
      "importAttributes": "never",
      "dynamicImports": "never"
    }],
    "@stylistic/array-element-newline": ["error", { "ArrayExpression": "always" }],
    "@stylistic/object-property-newline": "error",
    "@stylistic/comma-style": ["error", "last"],
    "@typescript-eslint/no-unused-vars": ["error", { "argsIgnorePattern": "^_" }],
    "vue/html-indent": ["error", 2, {
      "attribute": 1,
      "baseIndent": 1,
      "closeBracket": 0,
      "alignAttributesVertically": true,
      "ignores": []
    }]
  }
}
